*,
body {
  font-family: "Space Mono", monospace !important;
  background: #f5f4f2;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box t;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  min-height: -webkit-fill-available !important;
}

.content {
  margin: 0.33rem !important;
  line-height: 1.5;
}

/* logo */

#logo {
  padding: 1em 0;
}

#logo img {
  vertical-align: middle;
  min-width: 48px !important;
  max-width: 12%;
}

body.dark-mode #icon.icon {
  background: transparent;
  filter: brightness(2.2) !important;
  -webkit-filter: brightness(2.2) !important;
  filter: brightness(2.2) !important;
}
body.light-mode #icon.icon {
  background: transparent;
}

.video-container,
.loading {
  background-color: transparent;
}

/* iframe,
object,
embed {
  max-width: 100% !important;
} */

.video {
  background-color: transparent;
  border: none;
}

/* apod-image mobile-first*/

img {
  width: 85vw;
  border-radius: 8px;
}

.apod-image {
  animation-duration: 5s !important;
  -webkit-animation-duration: 5s !important;
}
/* date */

.date {
  margin-top: 1em;
  color: #a19f9f;
  opacity: 0.4;
  font-size: 16px;
}

/* title + copyright */

.desc {
  margin: auto;
  padding-top: 2.5em;
  /* padding-bottom: 1.5em; */
  padding-bottom: 20px !important;
  color: #000000;
  font-size: 0.8rem;
  width: 75%;
  line-height: 1.5em;
}

.title {
  margin-top: 18.224px !important;
  color: #000000;
  font-size: 1.7rem;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

/* explanation text */

p {
  width: 85%;
  margin: auto;
  padding-bottom: 80px !important;
  text-align: justify;
  text-indent: 1em;
  font-size: 16px;
  color: #05293b;
  line-height: 26px;
  font-weight: 100 !important;
  opacity: 0.9;
}

.text-explanation {
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
}
/* menu */

#menu a {
  display: inline-block;
  padding: 0.6em 1.1em;
  text-shadow: 0 0.5px 0 #000000;
  text-decoration: none;
  color: #05293b;
  font-size: 16px;
}

/* tiny button - scroll to top */

.tinybutton {
  background-color: #000000 !important;
  color: #636363 !important;
}

svg {
  margin-left: 1.2em;
  margin-top: 1.24em;
  fill: #636363 !important;
  background: transparent;
}

aside {
  outline: none;
  background: transparent !important;
}

/* dark mode toggle */

.dark-light-toggle button {
  font-size: 1rem;
  text-decoration: none;
}

div.dark-light-toggle {
  text-align: center;
}

button {
  width: 48px;
  height: 48px;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

button:active {
  background-color: #000;
}

button:focus {
  outline: none;
}

/* spinner */

.spinner,
.css-1wtsh4s {
  background: transparent;
}

div.css-0 {
  width: 100%;
  background: transparent;
}

.css-g8cih0 {
  background: transparent !important;
}

.css-dyz6n {
  background: transparent !important;
}

.field {
  font-size: 1.7rem;
}

/* .image-search {
  margin: 0px !important;
  padding: 0px !important;
} */

@media (max-width: 600px) {
  p {
    line-height: 2;
    font-size: 1.1rem;
    width: 94%;
  }
}

@media (min-width: 600px) {
  #logo img {
    max-width: 9%;
  }
  p {
    line-height: 2;
    font-size: 1.2rem;
  }
}

@media (min-width: 800px) {
  #logo img {
    max-width: 6%;
  }
  img {
    width: 75vw;
  }
  p {
    width: 85%;
    font-size: 1.3rem;
    font-weight: 100 !important;
    line-height: 2;
  }
}

@media (min-width: 1024px) {
  #logo img {
    max-width: 4%;
  }
  p {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  #logo img {
    max-width: 3%;
  }
  .dark-light-toggle button {
    font-size: 1.4rem;
  }
  p {
    width: 85%;
  }
  img {
    width: 85%;
  }
}

@media (min-width: 1600px) {
  img {
    width: 85%;
  }
}

@media (min-width: 2400px) {
  img {
    width: 85%;
  }
  p {
    width: 90%;
    font-size: 1.27rem;
  }
}
